body {
 color:$black;
}

h2 {
 font-family: $displayFont;
 font-size: 2rem;
 margin: 1.5rem 0 3rem;
 text-transform: capitalize;
 color:$black;
}

h5 {
 color:$titleColor;
 font-size: .7rem;
 margin: .5rem 0 1rem;
 text-transform: uppercase;
 letter-spacing: 5px;
}

p {
 font-size: .8rem;
 color:$paragraphColor;
 line-height: 2;
 margin: .5rem 0 3rem;
 font-weight: 300;
}

a {
 transition: all .5s ease-in-out;
 &:hover{
  color:$red;
 }
}

strong{
 font-weight: 600;
}
em{
 font-style: italic;
}

.textureBG{
 background: $greyBG;
 background:url('/img/texture.png');
 background-position: center;
 // background-size: cover;
 background-repeat: repeat;
}